body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0feeee;
  }
  
  form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .error {
    color: #f00;
    margin-top: 10px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 3rem;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 1.2em;
    width: 100%;
  }
  
  input[type="button"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #0062cc;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
  }
  /* Estilos para el botón */
#btn-back {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
  }
  
  /* Estilos para el botón cuando se le pasa el cursor por encima */
  #btn-back:hover {
    background-color: #3e8e41;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
   
  }
    